<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <script
    src="https://kit.fontawesome.com/132c10257e.js"
    crossorigin="anonymous"
  ></script>
</head>
{% load static %}
<header class="header">
  <div class="header__logo">
    <i class="fa-solid fa-moon fa-2x" style="color: yellow"></i>
    <h1 class="header__logo__title">
      <a href="{% url 'product:home' %}">Daljak</a>
    </h1>
  </div>
  <nav class="header__nav">
    <ul class="header__menu">
      <li>
        <a class="header__menu__item active" href="{% url 'product:home' %}"
          >Home</a
        >
      </li>

      <li>
        <a class="header__menu__item" href="{% url 'product:product_list' %}"
          >Products</a
        >
      </li>

      {% if user.is_authenticated %}
      <li>
        <a class="header__menu__item" href="{% url 'lists:see-favs' %}"
          >Favs
        </a>
      </li>
      {% endif %} {% if user.is_authenticated %}
      <li>
        <a class="header__menu__item" href="{% url 'product:create' %}"
          ><i class="fas fa-pencil-alt" style="color: white"></i
        ></a>
      </li>
      {% endif %} {% if user.is_authenticated %}
      <li>
        <a class="header__menu__item" href="{% url 'user:logout' %}">Logout </a>
      </li>

      <!-- <li>
        <a href="{{user.get_absolute_url}}">Profile</a>
      </li> -->

      {% else %}
      <li>
        <a class="header__menu__item" href="{% url 'user:login' %}">Login</a>
      </li>
      {% endif %}
    </ul>
    <button class="header__toggle" aria-label="navigation menu toggle">
      <i class="fa-solid fa-bars"></i>
    </button>
  </nav>
  <script
    type="text/javascript"
    src="{% static 'js/active_menu.js' %}"
  ></script>
</header>
