<header class="header">
  <div class="header__logo">
    <i class="fa-solid fa-moon fa-2x" style="color: yellow"></i>
    <h1 class="header__logo__title"><a href="#">Daljak</a></h1>
  </div>
  <nav class="header__nav">
    <ul class="header__menu">
      <li><a class="header__menu__item active" href="#home">Home</a></li>
      <li><a class="header__menu__item" href="#about">About</a></li>

      <li><a class="header__menu__item" href="#work">Products</a></li>
      <li>
        <a class="header__menu__item" href="#testimonial">Massages</a>
      </li>
      <li><a class="header__menu__item" href="#contact">Login</a></li>
    </ul>
  </nav>
</header>
