{% extends "base.html" %} {% load on_favs i18n %} {% block content%} {% load static %}

<link rel="stylesheet" href="{% static 'css/styles.css' %}" />
<div class="container mx-auto columns-1 justify-around pb-56 mr-96">
  <img src="{{product.get_photo_url}}" class="project__img" />
  <div class=>
    <div class="flex justify-between mb-8">
      <div class="mb-5">
        
        <div>
        <span class="text-6xl font-medium ">{{product.title}}</span>
        <span class="text-gray-700 font-medium text-2xl">{{product.content}}</span>
        </div>
        <div class="flex">
          <i class="mb-10 fa-solid fa-message fa-2x mr-2" id="messageIcon" href=""><span> </span></i>
            <div class="text-gray-700 font-medium text-2xl mt ">{{product.registrant}}</div>
         
        </div>
      
      </div>
      <div class="mt-24">
          <i class="far fa-edit fa-3x" id="editIcon"></i>
          <i class="far fa-trash-alt fa-3x" id="deleteIcon"></i>
         
                <a href="{% url 'lists:toggle_room' product.id %}" class=" fa-solid fa-star fa-3x" style="color: yellow;" id="favsIcon"></a>
    
      </div>
     
    </div>
    <div class="messages">
    
     </div>
    <div class="flex flex-wrap flex-col columns-1">
     <div class="mb-5">
      <span class="mb-5 ">
       
        {% for department in product.department.all %} <i class="fa-solid fa-gear mr-3"></i>{{ department.name }}
      </span>
      {% endfor %}
      <span class="mb-5 "
        > {% for abc in product.species.all %} <i class="fa-solid fa-square-check mr-3"></i> {{ abc.name }}
      </span>
      {% endfor %}
      <span class="mb-5 "
        >{% for abc in product.grade.all %}  <i class="fas fa-fingerprint mr-3"></i> {{ abc.name }}
      </span>
      {% endfor %}
      <span class="mb-5"
        >{% for abc in product.repair.all %} <i class="fas fa-tag mr-3"></i> {{ abc.name }}
      </span>
      {% endfor %}

      </div>
    </div>
    <p class="border-b border-gray-400 pb-8 ">{{room.description}}</p>
    <div class="border-b border-gray-400 pb-8 mt-8">
      <h4 class="font-medium text-lg mb-5">이 사용자가 올린 데이터</h4>
      <div class="flex">
      {% for a in user.product_set.all %}
          <div class="detail__content">
          <img src="{{a.get_photo_url}}" class="project__image w-3 h-3" />
          <div class=>
            <h3 class="text-3xl">{{a.title}}</h3>
            <span>{{a.content}}</span>
          </div>
         </div>
      
      {% endfor %}
      </div>
    </div>
    <div class="border-b border-gray-400 pb-8 mt-8 mb-8">
      <h4 class="font-medium text-lg mb-5">기술수준</h4>
     <span class="mb-5  ">
        {% for department in product.team_number.all %} <div class="notice__tags">
                <div class="notice__tag">
                    <div>{{department}}</div>
                </div>
            </div>
      </span>
      {% endfor %}
      <span class="mb-8 "
        >  
        {% if product.meet %}
        <div class="notice__tag">
                    <div>만남o</div>
                </div>
 {% else %}
                <div class="notice__tag">
                    <div>만남x</div>
                </div>
                {% endif %}
      </span>
     
      <span class="mb-5 "
        >{% for abc in product.category.all %}  <div class="notice__tag">
                    <div>{{abc}}</div>
                </div>
      {% endfor %}
     
    </div>
  
    <h4 class="font-medium text-2xl mb-5">Reviews</h4>
                <div class="flex items-center">
                    <div>
                        <i class="fas fa-star text-teal-500"></i>
                        
                    </div>
                    <div class="h-4 w-px bg-gray-400 mx-5"></div>
                    <div>
                        <span class="font-bold text-xl">{{room.reviews.count}}</span>
                        <span>review{{room.reviews.count|pluralize}}</span>
                    </div>
                </div>
                <div class="mt-10">
                    {% for review in product.reviews.all  %}
                        <div class="border-section">
                            <div class="mb-3 ">
                              <div>
                                <i class="fas fa-star text-teal-500" style="color: yellow;"></i>
                        <span class="font-bold text-xl">{{review.rating}}</span>
                              </div>
                                
                                <div class="flex flex-col ml-5">
                                    <span class="font-medium">{{review.writer}}</span>
                                    <span class="text-sm text-gray-500">{{review.created_at|date:'F Y'}}</span>
                                </div>
                            </div>
                            <p>{{review.content}}</p>
                        </div>
                    {% endfor %}    
                </div>

  </div>
  <div class="w-1/3"></div>

  
</div>

<footer id="contact" class="section">
      <div class="max-container">
        <h2 class="title">Let&#39;s talk</h2>


        <p>ⓒ원광대학교 컴퓨터소프트웨어공학과</p>
        <p class="description">주소 : 전라북도 익산시 익산대로 460(원광대학교) </p>
        <ul class="contact__links">
          <li>
            <a
              class="contact__link"
              href="https://github.com/dream-ellie"
              target="_blank"
              title="my github link"
            >
              <i class="fa-brands fa-github"></i>
            </a>
          </li>
          <li>
            <a
              class="contact__link"
              href="https://github.com/dream-ellie"
              target="_blank"
              title="my linkedin link"
            >
              <i class="fa-brands fa-linkedin"></i>
            </a>
          </li>
        </ul>
        <p class="description">donghe1472@gmail.com</p>
        <p class="description">si990819@gmail.com</p>
        <p class="description">hanse7260@gmail.com</p>

        <p class="description">moveg001115@gmail.com</p>
      </div>
    </footer>
<script>
  // 편집 아이콘에 대한 클릭 이벤트 처리
  document.getElementById("editIcon").addEventListener("click", function() {
    // 특정 URL로 이동
    window.location.href = "{% url 'product:edit' product.pk %}";
  });

  // 삭제 아이콘에 대한 클릭 이벤트 처리
  document.getElementById("deleteIcon").addEventListener("click", function() {
    // 특정 URL로 이동
    window.location.href = "{% url 'product:delete' product.pk %}";
  });


  // 삭제 아이콘에 대한 클릭 이벤트 처리
  document.getElementById("messageIcon").addEventListener("click", function() {
    // 특정 URL로 이동
    console.log("hello");
    window.location.href = "{% url 'conversations:detail' product.pk %}";
  });

  
  document.getElementById("favIcon").addEventListener("click", function() {
    // 특정 URL로 이동
    console.log("hello");
    window.location.href = "{% url 'lists:toggle_room' product.id %}";
  });

  document.getElementById("favsIcon").addEventListener("click", function() {
    // 특정 URL로 이동
    console.log("hello");
    window.location.href = "{% url 'lists:toggle_room' product.id %}";
  });

  // DOM이 준비되면 실행될 함수
  document.addEventListener("DOMContentLoaded", function () {
    // 첫 번째 아이콘을 선택합니다.
    const favsIcon1 = document.getElementById("favsIcon1");

    // 클릭 이벤트 리스너 등록
    favsIcon1.addEventListener("click", function () {
      // active 클래스를 토글
      if (favsIcon1.classList.contains("active")) {
        favsIcon1.classList.remove("active");
      } else {
        favsIcon1.classList.add("active");
      }
    });
  });
</script>
{% endblock content %}
