<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script
      src="https://kit.fontawesome.com/132c10257e.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    {% extends "base.html" %} {% block content%} {% load static %}
    <main>
      <!-- Home -->
      <section id="home">
        <img
          class="home__avatar"
          src="{% static 'imgs/handshake.jpg' %}"
          alt="Ellie's profile"
        />
        <h2 class="home__title">
          안녕하세요 <br />I&#39;m
          <strong class="home__title--strong">대학생 외주 사이트</strong>,
          달작입니다
        </h2>
        <p class="home__description">
          We're 대학생들이 쉽게 외주를 구할수 있게끔 최선을 다하는 사이트입니다
        </p>
        <a class="home__contact" href="#contact">Contact Me</a>
      </section>

      <!-- About -->
      <section></section>

      <!-- Product -->
      <section>
        {% for room in rooms %}
        <h1>{{room.title}}</h1>
        {% endfor %}
      </section>

      <!-- Arrow up -->
      <aside></aside>
    </main>
    <!-- Footer -->
    <footer></footer>
    {% endblock content %}
  </body>
</html>
