<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script
      src="https://kit.fontawesome.com/132c10257e.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!-- Header -->
    <header>
      <div>
        <i class="fa-solid fa-moon"></i>
        <h1>Daljak</h1>
      </div>
      <nav></nav>
    </header>
    <main>
      <!-- Home -->
      <section></section>

      <!-- About -->
      <section></section>

      <!-- Product -->
      <section></section>

      <!-- Arrow up -->
      <aside></aside>
    </main>
    <!-- Footer -->
    <footer></footer>
  </body>
</html>
