.create-wrap_second {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.create-wrap_second label {
  margin-bottom: 20px;
}

.create-page {
  margin-top: 100px;
  width: 100%;
}

.create-page main {
  width: 700px;
  margin: auto;

}

.create__title {
  font-size: 30px;
  margin-bottom: 20px;
  margin-left: 30px;
  font-weight: bold;
}

.create {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 700px;
  height: 1200px;
  margin: auto;
  padding: 40px 50px;
  border-color: var(--color-gray);
  border: 1.5px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 100px;
  border-radius: 7px;
}

.create input:focus,
#create__text:focus {
  outline: none;
}

.create__cont-title {
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 5px;
}



.create__write {
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 5px;
}

.create-btn {
  cursor: pointer;
  border: none;
  border-color: var(--color-accent);
  color: var(--color-black);
  font-weight: 600;
  font-size: 30px;
  background-color: var(--color-gray);
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin-bottom: 20px;
  transition: all 0.17s ease-in;
  padding: 10px;
  display: flex;
  justify-content: center;
  height: 50px;
  width: 300px;

}
.btn-component button{
  color: var(--color-accent);
}

.create-wrap {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

.create-wrap_sec {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

.create-wrap_second input {
  width: 80%;
  
 
}

.create-wrap input:first-child {
  width: 80%;
}

.create-wrap textarea {
  width: 80%;
}

.create-wrap_sec textarea {
  width: 80%;
}

.create-wrap select {
  width: 80%;
}

#create__text {
  height: 500px;
  resize: none;
  padding: 10px;
  border-radius: 7px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.goto-create__btn {
  display: flex;
  justify-content: right;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
}

.goto-create__btn button {
  font-size: 13px;
  background-color: white;
  width: 150px;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .create-page main {
    width: 500px;
  }
  .create {
    width: 500px;
  }
}

@media screen and (max-width: 600px) {
  .create-page main {
    width: 400px;
  }
  .create {
    width: 400px;
  }
}

.create-wrap {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

.create-wrap_sec {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

.create-wrap_second input {
  width: 80%;
  /* height: 50px; */
  /* width: 65%; */
  height: 50px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin-bottom: 20px;
  transition: all 0.17s ease-in;
  padding: 10px;
  background-color: #fafafa;
  /* background-color: black; */
}

.create-wrap input:first-child {
  width: 80%;
}

.create-wrap textarea {
  width: 80%;
}

.create-wrap_sec textarea {
  width: 80%;
}

.create-wrap select {
  width: 80%;
}

.create__cont-title {
  margin-bottom: 20px;
}


#create-main{
 width: 100%;
}
.create__content-label{
  /* background-color: black; */
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.create__content-label-wrap{
  display: flex;
  align-items: center;
  gap : 50px;
  height: fit-content;
  font-weight: bold;
}
.create__content-label-wrap{

}

.create__content-label-wrap select{
  width: 55%;
}

#id_meet{
  width: fit-content;
}
.btn_wrap{
  display: flex;
  justify-content: center;
}
.create-btn button{
  font-size: 17px;
  font-weight: 500;
}