.detail__img {
  max-width: 100%;
  max-height: 100%;
  align-self: center;
}

.detail {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin: 100px;
  background-color: var(--color-light-white);
}
