<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script
      src="https://kit.fontawesome.com/132c10257e.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
   <header>
   </header>
   
    <main>
      <!-- Home -->
      <section id="home">
        
      </section>

      <!-- About -->
      <section></section>

      <!-- Product -->
      <section>
        
      </section>

      <!-- Arrow up -->
      <aside></aside>
    </main>
    <!-- Footer -->
    <footer></footer>

  </body>
</html>
